<div class="backdrop is-hidden" data-cocktails-modal>
  <div class="cocktails-modal" data-id-drink="">
    <button
      type="button"
      class="cocktails-modal-close"
      data-cocktails-modal-close
    >
      <svg class="cocktails-modal-close__icon" width="32" height="32">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="cocktails-modal-content-wrap">
      <h2 class="cocktail-title">Negroni</h2>
      <div class="cocktail-description">
        <h3 class="cocktail-description__title">Instructions:</h3>
        <p class="cocktail-description__text">
          Add the gin, Campari and sweet vermouth to a mixing glass filled with
          ice, and stir until well-chilled. Strain into a rocks glass filled
          with large ice cubes. Garnish with an orange peel.
        </p>
      </div>
      <img src="#" alt="" class="cocktail-image" />
      <div class="cocktail-ingredients">
        <h3 class="cocktail-ingredients__title">Ingredients</h3>
        <p class="cocktail-ingredients__remark">Per cocktail</p>
        <ul class="cocktail-ingredients-list">
          <li class="cocktail-ingredients-list-item">
            <p><span>&#10038;</span> Ice</p>
          </li>
          <li class="cocktail-ingredients-list-item">
            <p><span>&#10038;</span> 1 ounce gin</p>
          </li>
          <li class="cocktail-ingredients-list-item">
            <p><span>&#10038;</span> 1 ounce Campari</p>
          </li>
          <li class="cocktail-ingredients-list-item">
            <p><span>&#10038;</span> 1 ounce sweet vermouth</p>
          </li>
          <li class="cocktail-ingredients-list-item">
            <p><span>&#10038;</span> Garnish: orange peel</p>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" class="cocktails-modal-favorite add-to-favorite">
      Add to favorite
    </button>
  </div>
</div>
