<section class="hero">
  <div class="container hero-container">
    <div class="text-wraper">
      <h1 class="hero__title">A party without cocktails is not like a party</h1>
      <div class="mobile-hero__picture">
        <picture>
          <source
            srcset="
              ./images/mobile-coctails@1x-min.png 1x,
              ./images/mobile-coctails@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/mobile-coctails@1x-min.png" alt="фото веб-сайту" />
        </picture>
      </div>
      <p class="hero__text dark-theme-text">
        Search your favorite cocktail by ABC
      </p>
      <div class="list-items">
        <div class="mobile-wrapper">
          <div class="mobile-wrapper-select">
            <span class="hero__select-text">A</span>
            <svg
              class="arrow__icon"
              width="20"
              height="20"
              aria-label="drop-down-menu"
              style="transform: rotate(0.25turn)"
            >
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </div>
          <div class="list-mobile-filter visually-hidden">
            <ul class="mobile-list-letters">
              <li class="mobile-word">A</li>
              <li class="mobile-word">B</li>
              <li class="mobile-word">C</li>
              <li class="mobile-word">D</li>
              <li class="mobile-word">E</li>
              <li class="mobile-word">F</li>
              <li class="mobile-word">G</li>
              <li class="mobile-word">H</li>
              <li class="mobile-word">I</li>
              <li class="mobile-word">K</li>
              <li class="mobile-word">L</li>
              <li class="mobile-word">M</li>
              <li class="mobile-word">N</li>
              <li class="mobile-word">O</li>
              <li class="mobile-word">P</li>
              <li class="mobile-word">Q</li>
              <li class="mobile-word">R</li>
              <li class="mobile-word">S</li>
              <li class="mobile-word">T</li>
              <li class="mobile-word">U</li>
              <li class="mobile-word">V</li>
              <li class="mobile-word">W</li>
              <li class="mobile-word">X</li>
              <li class="mobile-word">Y</li>
              <li class="mobile-word">Z</li>
              <li class="mobile-word">1</li>
              <li class="mobile-word">2</li>
              <li class="mobile-word">3</li>
              <li class="mobile-word">4</li>
              <li class="mobile-word">5</li>
              <li class="mobile-word">6</li>
              <li class="mobile-word">7</li>
              <li class="mobile-word">8</li>
              <li class="mobile-word">9</li>
              <li class="mobile-word">0</li>
            </ul>
          </div>
        </div>
        <div class="wrapper-tablet-desktop-filter">
          <ul class="list-letters">
            <li class="word">A</li>
            <li class="word">B</li>
            <li class="word">C</li>
            <li class="word">D</li>
            <li class="word">E</li>
            <li class="word">F</li>
            <li class="word">G</li>
            <li class="word">H</li>
            <li class="word">I</li>
            <li class="word">J</li>
            <li class="word">K</li>
            <li class="word">L</li>
            <li class="word">M</li>
            <li class="word">N</li>
            <li class="word">O</li>
            <li class="word">P</li>
            <li class="word">Q</li>
            <li class="word">R</li>
            <li class="word">S</li>
            <li class="word">T</li>
            <li class="word">U</li>
            <li class="word">V</li>
            <li class="word">W</li>
            <li class="word">X</li>
            <li class="word">Y</li>
            <li class="word">Z</li>
          </ul>
          <ul class="list-letters-number">
            <li class="word">1</li>
            <li class="word">2</li>
            <li class="word">3</li>
            <li class="word">4</li>
            <li class="word">5</li>
            <li class="word">6</li>
            <li class="word">7</li>
            <li class="word">8</li>
            <li class="word">9</li>
            <li class="word">0</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hero__picture">
      <picture>
        <source
          srcset="
            ./images/desktop-coctails@1x-min.png 1x,
            ./images/desktop-coctails@2x-min.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet-coctails@1x-min.png 1x,
            ./images/tablet-coctails@2x-min.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile-coctails@1x-min.png 1x,
            ./images/mobile-coctails@2x-min.png 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./images/mobile-coctails@1x-min.png" alt="фото веб-сайту" />
      </picture>
    </div>
  </div>
</section>
