
  <div class="backdrop  is-hidden" data-ingredients-modal>
    <!-- is-hidden -->
    <div class="modal-drink-ingredients ">
      <button type="button" class="button-modal-close" data-ingredients-modal-close>
        <svg class="button-modal-close__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>

    <div class="js-insert-modal-container">
        <h2 class="drink-name">Campari</h2>
  
        <h3 class="drink-category">Liqueur</h3>
  
        <div class="drink-category--wrapper">
          <div class="drink-category--line"></div>
        </div>
  
        <p class="drink-description">
          <span class="drink-description--marked-word"> </span> Campari is an
          Italian alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%,
          or 28.5% ABV, depending on the country in which it is sold), obtained
          from the infusion of herbs and fruit (including chinotto and cascarilla)
          in alcohol and water. It is a bitters, characterised by its dark red
          colour.
        </p>
  
        <ul class="drink-classification-list">
          <li class="drink-classification-item">
            <p class="classification-type classification">
              ✶ Type: <span class="classification-value">Bitters</span>
            </p>
          </li>
          <li class="drink-classification-item">
            <p class="classification-type classification">
              ✶ Country of origin:
              <span class="classification-value n">Italy</span>
            </p>
          </li>
          <li class="drink-classification-item">
            <p class="classification-type classification">
              ✶ Alcohol by volume:
              <span class="classification-value">20.5–28.5%</span>
            </p>
          </li>
          <li class="drink-classification-item">
            <p class="classification-type classification">
              ✶ Flavour:
              <span class="classification-value">Bitter, spicy and sweet</span>
            </p>
          </li>
        </ul>
    </div>
      <button
        type="button"
        data-favorite-controller
        class="drink-controller-btn"
      >
        <!-- <span class="drink-controller-btn--name">Add to favorite</span> -->
        <span class="drink-controller-btn--name add-to-favorite-ingredient">Add to favorite</span>
      </button>
    </div>
    
  </div>
</div>
